body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    margin: 2px;
    border-radius: 20%;
    border: 10px solid black ;

}

.btn-container{
    display: flex;
    justify-content: center;
}

.orenge{
    background-color: rgb(239, 141, 72);
}
.red{
    background-color: rgb(254, 58, 97);
}

.green{
    background-color: rgb(57, 219, 165);
}
.purple
{
    background-color: rgb(255, 51, 255);
}